#agendaDatatable table {
    border: 1px solid silver;
    font-size: 11px;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 768px;
    z-index: 20;
}

#agendaDatatable th td {
    padding: 2px 4px 2px 4px !important;
    text-align: center;
    vertical-align: top;
}

#agendaDatatable thead tr {
    background-color: #1f497d;
}

#agendaDatatable th.sorted {
    background-color: orange;
}

#agendaDatatable th a,th a:visited {
    color: white;
}

#agendaDatatable th a:hover {
    text-decoration: underline;
    color: white;
}

#agendaDatatable th.sorted a,th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
}

#agendaDatatable th.sortable a {
    background-image: url(../img/arrow_off.png);
}

#agendaDatatable th.order1 a {
    background-image: url(../img/arrow_down.png);
}

#agendaDatatable th.order2 a {
    background-image: url(../img/arrow_up.png);
}

#agendaDatatable tr.odd {
    background-color: #fff
}

#agendaDatatable tr.tableRowEven,tr.even {
    background-color: #fea
}

#agendaDatatable div.exportlinks {
    background-color: #eee;
    border: 1px dotted #999;
    padding: 2px 4px 2px 4px;
    margin: 2px 0 10px 0;
    width: 79%;
}

#agendaDatatable span.export {
    padding: 0 4px 1px 20px;
    display: inline;
    display: inline-block;
    cursor: pointer;
}

#agendaDatatable span.excel {
    background-image: url(../img/ico_file_excel.png);
}

#agendaDatatable span.csv {
    background-image: url(../img/ico_file_csv.png);
}

#agendaDatatable span.xml {
    background-image: url(../img/ico_file_xml.png);
}

#agendaDatatable span.pdf {
    background-image: url(../img/ico_file_pdf.png);
}

#agendaDatatable span.rtf {
    background-image: url(../img/ico_file_rtf.png);
}

#agendaDatatable span.pagebanner {
    background-color: #eee;
    border: 1px solid silver;
    width: 756px;
    margin-top: 10px;
    display: block;
    border-bottom: none;
    font-size: 11px;
    margin-left: 15px;
    text-align: left;
    padding: 0 10px 0 0;
}

#agendaDatatable span.pagelinks {
    background-color: #eee;
    border: 1px solid silver;
    width: 756px;
    display: block;
    border-top: none;
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: right;
    padding: 0 10px 0 0;
}

#agendaDatatable span.pagelinks a {
    text-decoration: none;
    color: black;
}

#agendaDatatable .group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
#agendaDatatable .group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
#agendaDatatable .subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
#agendaDatatable .subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
#agendaDatatable .subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
#agendaDatatable .grouped-table tr.even {
    background-color: #fff;
}
#agendaDatatable .grouped-table tr.odd {
    background-color: #fff;
}
#agendaDatatable .grandtotal-row {
    border-top: 2px solid black;
}

#unsavedSpan {
    background-color: #FFD873;
    border: 1px solid silver;
    width: 756px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-color: #A67800;
    text-align: center;
    padding: 0 10px 0 0;
}

#unsavedSpan img {
    vertical-align: middle;
}