<?xml version="1.0" encoding="UTF-8" ?>


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${log4j.logPath}/${log4j.logFile}" />
		<param name="datePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
			 value="%d{dd/MM/yy HH:mm:ss,SSS} %-5p [%t] %C{2}.%M:%m%n"/>
		</layout>
	</appender>
	
	<appender name="SYSLOG" class="ar.org.bbva.util.net.SyslogAppender">
		<param name="SyslogHost" value="${log4j.syslogServer}" />
		<param name="Facility" value="local1" />
		<param name="Process" value="${log4j.process}" />
		<layout class="org.apache.log4j.PatternLayout">
			 <param name="ConversionPattern"
			  value="%d{dd/MM/yy HH:mm:ss} %-5p [%t] %C (%F:%L) - %M:%m%n"/>
		</layout>	    
	</appender>
	
	
	<appender name="LOG_CONSOLA" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
			 value="%d{HH:mm:ss} %-5p %c{2}.%M:%m%n"/>
		</layout>
	</appender>


	<category name="org.apache.axis">
	  <priority value="info" />
	</category>

    <category name="org.apache.axis.transport.http">
      <priority value="debug" />
    </category>

	<category name="ar.org.bbva.pki">
		<priority value="debug"/>
	</category>

	<category name="ar.org.bbva.util">
		<priority value="debug"/>
	</category>

	<category name="ar.com.bbva.init">
		<priority value="debug"/>
	</category>

	<category name="ar.com.bbva.initPlugins">
		<priority value="debug"/>
	</category>

	<category name="ar.com.bbva.web.initPlugins">
		<priority value="debug"/>
	</category>

	<category name="ar.com.bbva.web.impl">
		<priority value="debug"/>
	</category>
	
	<category name="ar.com.bbva.sam">
		<priority value="debug"/>
	</category>

	<category name="ar.com.itrsa.sam.ora">
		<priority value="debug"/>
	</category>

	<category name="ar.com.itrsa.sam">
		<priority value="info"/>
	</category>
	
	<category name="httpclient.wire.header">
		<priority value="debug"/>
	</category>

	<category name="httpclient.wire.content">
		<priority value="debug"/>
	</category>	

	<category name="trxs">
		<priority value="debug"/>
	</category>

	<category name="web.jsp">
		<priority value="debug"/>
	</category>

	<root>
		<priority value="info"/>
		
		<appender-ref ref="LOG"/>

	</root>
	


</log4j:configuration>