.mvn/
target/
.idea
.idea/
.idea/*
.vscode
.vscode/
.vscode/*
.classpath
.settings/
adaExceptionsLog
/bin/
src/main/cfg/
src/main/syscfg/

# Log files
*.log
*.log.*
*Exception*.txt
*exception*.txt
logException*.txt
*.log.txt
logs/
log/

