
$dark: #072146;
$info: #02a5a5;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$border-radius: .25rem;
$btn-border-radius: NaN$border-radius;
$secondary: #014483;
$primary: #2a86ca;
$light: #f4f4f4;
$yellow: #d8be75;
$nav-pills-border-radius: 0;