.buttonAdd {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/interface.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonAdd:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonAdd:active {
    position:relative;
    top:1px;
}
.buttonFilter {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:2px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/search.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonFilter:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonFilter:active {
    position:relative;
    top:1px;
}

.buttonClear {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:2px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/clearButton.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonClear:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonClear:active {
    position:relative;
    top:1px;
}

.buttonSave {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/save.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonSave:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonSave:active {
    position:relative;
    top:1px;
}


.buttonReplace {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/replaceIcon.png);
    background-repeat:no-repeat;
    background-position:left;

}
.buttonReplace:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonReplace:active {
    position:relative;
    top:1px;
}
.buttonContinue {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/continuebutton.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonContinue:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonContinue:active {
    position:relative;
    top:1px;
}
.buttonCancel {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/iconos/cancelbutton.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonCancel:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonCancel:active {
    position:relative;
    top:1px;
}
.buttonAprobar {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/iconos/aprobar.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonAprobar:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonAprobar:active {
    position:relative;
    top:1px;
}
.buttonEdit {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/iconos/editButton.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonEdit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonEdit:active {
    position:relative;
    top:1px;
}
.buttonAdd2 {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/addButtonGoogle.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonAdd2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonAdd2:active {
    position:relative;
    top:1px;
}

.buttonMessage {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-image:url(../images/iconos/message.png);
    background-repeat:no-repeat;
    background-position:right;

}
.buttonMessage:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonMessage:active {
    position:relative;
    top:1px;
}

.buttonActivarRechazar {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#2a3647;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    background-repeat:no-repeat;
    background-position:right;
    float: right;
    margin-top: 5px;
    margin-right: 10px;

}
.buttonActivarRechazar:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
    background-color:#468ccf;
}
.buttonActivarRechazar:active {
    position:relative;
    top:1px;
}