<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="logPath">logs</Property>
    <Property name="logFile">app.log</Property>
    <Property name="syslogServer">localhost</Property>
    <Property name="process">appProcess</Property>
  </Properties>
  <Appenders>
    <RollingFile name="LOG" fileName="${logPath}/${logFile}" filePattern="${logPath}/${logFile}-%d{yyyy-MM-dd}.gz">
      <PatternLayout pattern="%d{dd/MM/yy HH:mm:ss,SSS} %-5p [%t] %C{2}.%M:%m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    <Console name="LOG_CONSOLA" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5p %c{2}.%M:%m%n"/>
    </Console>
    <Syslog name="SYSLOG" host="${syslogServer}" port="514" protocol="UDP">
      <PatternLayout pattern="%d{dd/MM/yy HH:mm:ss} %-5p [%t] %C (%F:%L) - %M:%m%n"/>
      <Facility>LOCAL1</Facility>
    </Syslog>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.axis" level="info" additivity="false">
      <AppenderRef ref="LOG"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="LOG"/>
      <AppenderRef ref="LOG_CONSOLA"/>
      <AppenderRef ref="SYSLOG"/>
    </Root>
  </Loggers>
</Configuration>