<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	version="2.4">
	<display-name>Rendiciones de Gastos</display-name>
	<!-- Configuración de listener de session, se encarga de detectar una nueva 
		session e inyectarle el objeto IWebClient configurado en la aplicación. Para 
		aplicaciones que usen WebSphere >= 6.0 Para aplicaciones que hagan uso de 
		los objetos IWebApplication e IWebClient provistos por la librería CNLS_BBVAWeb. -->
	<listener>
		 <listener-class>ar.com.bbva.web.impl.WebSessionListener</listener-class> 
		<!-- <listener-class>com.sa.su.listener.MyWebSessionListener</listener-class>  -->
	</listener>
	<!-- Configuración de listener de session - Fin -->

	<!-- Filtro de Seguridad para automatizar el control de usuarios logueados. 
		Sólo si se usan los objetos IWebApplication e IWebClient provistos por la 
		librería CNLS_BBVAWeb. -->
	<filter>
		<filter-name>WebSecurityFilter</filter-name>
		<filter-class>ar.com.bbva.web.impl.WebSecurityFilter</filter-class>
		<init-param>
			<param-name>noLoginPageExpr</param-name>
			<param-value>*/NL-*</param-value>
		</init-param>
	</filter>
	

	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
	<!-- SÍ SUBIR ESTO AL AMBIENTE DE WebSphere y descomentarlo!!! -->

	<!-- Configuración del Servlet de arranque e inicialización de la aplicación 
		y el archivo .properties inicial -->
	<context-param>
		<param-name>syscfgpath</param-name>
		<param-value>${realpath}../syscfg</param-value>
	</context-param>

	<servlet>
		<servlet-name>WebApplicationInitServlet</servlet-name>
		<servlet-class>ar.com.bbva.web.servlets.WebAppInitServlet</servlet-class>
		<init-param>
			<param-name>syscfg-file</param-name>
			<param-value>${syscfgpath}/syscfg.properties</param-value>
		</init-param>
		<init-param>
			<param-name>log-stdout</param-name>
			<param-value>TRUE</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Configuración del Servlet de arranque e inicialización de la aplicación 
		- Fin -->


	<!-- Configuracion de servlet de struts -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Configuracion de servlet de struts - Fin -->

	<!-- Configuración de mapping de struts -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- Configuración de mapping de struts - Fin -->


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>